#div-contenedor{
  margin-top: 50px;
}

#div-identificacion {
  margin-top: 80px;
}

#div-form-edit {
  max-width: 600px;
}

.div-imagen img {
  width: 150px;
}

#div-titulo {
  position: fixed;
  top: 0px;
  width: 100%;
}

#contenedor-menu {
  margin-top: -43px;
}

#contenedor-menu div {
  cursor: pointer;
  padding: 10px 10px;
}

.menu {
  padding-left: 15px;
}

.fa {
  width: 25px;
}

.intro-app {
  width: 600px;
}

#img-logged {
  width: 45px;
}

.cursor{
  cursor: pointer;
}

.info-log{
  margin-right: 10px;
}

.actived{
  border-bottom: 4px solid #84BD00;
  padding-bottom: 4px;
}

.imagen_peque img {
  width: 150px;
}

.artistas-list {
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  list-style: none;
}

.artista-item{
  width: 250px;
  margin: 10px;
  padding: 10px;
  background: #222326;
}

.imagen_artista img{
  width: 100%;
  padding-bottom: 10px;
}

.artista-nombre {
  padding-bottom: 10px;
}

#artista-box, #album-box{
  padding: 25px;
  margin: 25px;
}

#artista-box img, #album-box img {
  width: 250px;
}

.albums-list {
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  list-style: none;
}

.album-item {
  width: 250px;
  margin: 10px;
  padding: 10px;
  background: #222326;
}

.album-item img {
  width: 100%;
  padding-bottom: 10px;
}

.album-titulo {
  padding-bottom: 10px;
}


.canciones-list {
  margin: 0px;
  padding: 0px;
}

.cancion-item {
  list-style: none;
  border-bottom: 1px solid #ccc;
}

.cancion-item .titulo{
  padding: 12px;
}

a:link {
  text-decoration: none;
}

.player {
  position: fixed;
  background: #1C1C1F;
  width: 100%;
  bottom: 0px;
  padding: 20px;
  margin-left: -15px;
  border-left: 1px solid #444;
}

.player .album-imagen {
  float: left;
  width: 138px;
  height: 119px;
  overflow: hidden;
}

.player .album-imagen img {
  height: 100%;
}

.player .audio-file {
  width: 85%;
  height: 40px;
  margin-left: 10px;
  float: left;
}

.player audio {
  width: 95%;
  height: 40px;
}

#div-contenedor {
  margin-bottom: 150px;
  min-height: 650px;
}
