#div-contenedor{
  margin-top: 50px;
}

#div-form-edit {
  max-width: 600px;
}

.div-imagen img {
  width: 150px;
}

#div-titulo {
  position: fixed;
  top: 0px;
  width: 100%;
}

#contenedor-menu {
  margin-top: -43px;
}

#contenedor-menu div {
  cursor: pointer;
  padding: 10px 10px;
}

.menu {
  padding-left: 15px;
}

.fa {
  width: 25px;
}

.intro-app {
  width: 600px;
}

#img-logged {
  width: 45px;
}

.cursor{
  cursor: pointer;
}

.info-log{
  margin-right: 10px;
}

.actived{
  border-bottom: 4px solid #84BD00;
  padding-bottom: 4px;
}

.imagen_peque img {
  width: 150px;
}

.artistas-list {
  margin: 0px;
  margin-top: 20px;
  padding: 0px;
  list-style: none;
}

.artista-item{
  width: 250px;
  margin: 10px;
  padding: 10px;
  background: #222326;
}

.imagen_artista img{
  width: 100%;
  padding-bottom: 10px;
}

.artista-nombre {
  padding-bottom: 10px;
}

#artista-box{
  padding: 25px;
  margin: 25px;
}

#artista-box img{
  width: 250px;
}
